:root {
  --primary-color: #eee2dc;
  --secondary-color: #ffdd91;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.header {
  height: 60vh;
  font-size: 2.5rem;
  background-image: url(../dist/images/baked-sale2.jpg);
  background-size: 100% 100%;
  color: #fff;
}

.header .flex,
.navbar .flex,
.about-page .flex,
.contact .flex {
  flex-direction: row;
}

.menu .flex {
  flex-direction: row;
  flex-wrap: wrap;
}

li {
  padding: 1rem;
  margin: 1rem;
  font-size: 2rem;
  cursor: pointer;
}

.navbar li:hover {
  color: var(--primary-color);
}

.menu h1 {
  font-size: 2rem;
}

.milkshakes {
  border-bottom: 5px solid #ffdd91;
  border-radius: 10px;
}

.contact .flex {
  flex-direction: row;
}

@media screen and (min-width: 1400px) {
  .header {
    height: 100vh;
  }
}

@media screen and (max-width: 700px) {
  .header {
    height: 40vh;
  }
}
