:root {
  --primary-color: #eee2dc;
  --secondary-color: #ffdd91;
  --font-color: #212121;
  --secondary-bg-color: #e98074;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.header {
  font-size: calc(1rem + 1vw);
  color: #fff;
  height: 15vh;
  width: 100%;
  flex-direction: row;
}

.contact .flex {
  flex-direction: row;
}

.header .flex {
  flex-direction: row;
  width: 100%;
}

li {
  padding: 1rem;
  margin: 1rem;
  cursor: pointer;
}

.navbar li:hover {
  color: var(--secondary-color);
}

.menu h1 {
  font-size: 2rem;
}

.about-page {
  background-image: url(images/baked-sale2.jpg);
  background-size: 100% 100%;
  height: 85vh;
}

.about-page h1 {
  font-size: 5vw;
  font-weight: bold;
  color: var(--primary-color);
  text-align: center;
}

.about-page h2 {
  color: var(--font-color);
}

.contact {
  height: 85vh;
}

.contact svg {
  margin-left: 15px;
}

.contact li:hover {
  color: var(--secondary-color);
  cursor: pointer;
}

.milkshakes {
  border-bottom: 5px solid #ffdd91;
  border-radius: 10px;
}

.contact .flex {
  flex-direction: row;
}

.contact li {
  font-size: 3.5vw;
}

.about-body {
  width: 60%;
}

.about-body h2 {
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
}

.menu-container {
  width: 80%;
  height: auto;
  background-color: var(--secondary-bg-color);
  border-radius: 20px;
  margin-top: 40px;
}

.menu-container .flex {
  justify-content: flex-start;
  align-items: center;
}

.menu-item {
  width: 95%;
  align-items: flex-start;
  flex-direction: row;
  padding: 20px;
}

.menu-item span {
  color: #042f4b;
  font-family: "Roboto", sans-serif;
}

.menu-item p {
  font-size: 1rem;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.menu-item h4 {
  text-decoration: underline;
}

.menu-img {
  height: 200px;
  width: 200px;
  margin: 20px;
  border-radius: 50%;
}

.mobile-icon {
  cursor: pointer;
  margin-right: 50px;
}

@media screen and (max-width: 1100px) {
  .about-page p {
    font-size: 1.75vw;
  }
}

@media screen and (max-width: 900px) {
  .contact .flex {
    flex-direction: column;
  }

  .about-page,
  .contact,
  .menu-container {
    height: 90vh;
  }

  .mobile-icon {
    display: flex;
  }

  .navbar {
    display: none;
  }

  .header h1 {
    font-size: 3vw;
    padding: 0;
  }

  .header img {
    transform: scale(0.5);
    padding: 0;
  }

  .contact li {
    font-size: 5vh;
  }

  .about-page p {
    font-size: 2vw;
  }
}

.header {
  flex-direction: column;
}

@media screen and (max-width: 700px) {
  .about-page p {
    font-size: 2.25vw;
  }
}
